.box {
    outline: double;
    outline-width: 3px;
    outline-color: white;
    color: white;
    background-color: black;
    overflow: scroll;
    text-wrap: wrap;
}
ul{
    list-style-type:none;padding: 5px;margin: 0px; margin-left: 5px;color: rgb(255, 0, 93);
}
li{
    color: inherit;
}