.Main {
    background-image:url(Images/KanameMadoka.png);
    background-repeat:repeat-x;
    background-size: 420px;
}

.Video{
    display: inline-flex;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }